<footer id="footer" class="footer-page">
  <div class="vc_row wpb_row footer-bottom footer-bottom2 vc_custom_1516171781582 vc_row-has-fill">
    <div class="container">
      <p class="desc copyright white text-center"><%= t ".title" %></p>
    </div>
  </div>
</footer>
