<% @post.each do |post| %>
<div class="slider-content-text white text-center text-uppercase animated bounceIn" data-animated="bounceIn"
style="background: url('<%= post.picture.url %>'); background-repeat: no-repeat;
background-size: 100% 100%; ">
    <div class="hot-blog">
      <h5 class="title24 dosis-font font-bold"><%= post.title %></h5>
        <p><%= post.sumary %></p>
        <p><%= link_to t(".read_more"), post_path(post), class: "btn btn-success" %></p>
    </div>

</div>
<% end %>
