<% provide(:title, t(".about_us")) %>
<div>
  <body>
    <h2><%= t ".about_us" %></h2>
    <p><%= t ".description_about_us" %></p>
    <%= image_tag "slide1-2.jpg", class: "custom-image" %>
  </body>
</div>
