<% provide(:title, t(".contact")) %>
<div class="container contact">
  <div class="text">
    <h2><%= t ".contact_us" %></h2>
    <p><%= t ".address" %></p>
    <p><%= t ".phone" %></p>
    <p><%= t ".sign" %></p>
  </div>
  <div class="round">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.641378661905!2d105.79908794995606!3d21.007007885941533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aca166c91fa7%3A0x216144e51f80907e!2zVG_DoCBuaMOgIDI1VDIsIE5ndXnhu4VuIFRo4buLIFRo4bqtcCwgVHJ1bmcgSG_DoCwgQ-G6p3UgR2nhuqV5LCBIw6AgTuG7mWkgMTAwMDAwLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1554277502569!5m2!1sen!2s" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="clearfix"></div>
</div>
