.vc_row-no-padding {
  position: relative;
  box-sizing: border-box;
  padding-top: 100px;
  height: 400px;
  background-color: #cdcdcd;
  margin-bottom: 0px !important;
}
.vc_row.wpb_row.block-product2 {
    height: 500px;
}
ul#side-menu, nav.navbar.navbar-default.navbar-static-top  {
    display: block;
}
form.search {
    display: flex;
}
a.btn-create{
  margin-bottom: 20px;
}
.owl-item.active {
  display: flex;
}
.service .item {
  width: 30%;
  margin: 10px;
}
.product-thumb a {
  color: aqua;
}
.vc_column-inner.blogs {
  display: flex;
}
.owl-item.active {
  margin-left: 15px;
}
.product-slider {
  display: flex;
}
.post-716.product {
  width: 30%;
  margin-left: 10px;
}
