.vc_row-no-padding {
  position: relative;
  box-sizing: border-box;
  padding-top: 100px;
  height: 400px;
  background-color: #cdcdcd;
  margin-bottom: 0px !important;
}
.footer-page{
  margin-top: 0px !important;
}
.vc_row.wpb_row.block-product2 {
    height: 400px;
}
