.vc_row-no-padding {
  position: relative;
  box-sizing: border-box;
  padding-top: 100px;
  height: 400px;
  background-color: #cdcdcd;
  margin-bottom: 0px !important;
}
.vc_row.wpb_row.block-product2 {
    height: 400px;
}
ul#side-menu, nav.navbar.navbar-default.navbar-static-top  {
    display: block;
}
form.search {
    display: flex;
}
a.btn-create{
  margin-bottom: 20px;
}
