.vc_row-no-padding {
  position: relative;
  box-sizing: border-box;
  padding-top: 100px;
  height: 400px;
  background-color: #cdcdcd;
  margin-bottom: 0px !important;
}
.vc_row.wpb_row.block-product2 {
    height: 500px;
}
ul#side-menu, nav.navbar.navbar-default.navbar-static-top  {
    display: block;
}
form.search {
    display: flex;
}
a.btn-create{
  margin-bottom: 20px;
}
.owl-item.active {
  display: flex;
}
.service .item {
  width: 30%;
  margin: 10px;
}
.product-thumb a {
  color: aqua;
}
.vc_column-inner.blogs {
  display: flex;
}
.owl-item.active {
  margin-left: 15px;
}
.product-slider {
  display: flex;
}
.post-716.product {
  width: 30%;
  margin-left: 10px;
}
.product-thumb img {
  height: 220px;
  width: 100%;
}
.vc_row.wpb_row.block-product2 {
  margin-top: -34px;
}
.product-type-simple {
  height: 100%;
  border: 2px solid #b1abab;
}
.vc_row.wpb_row.block-product2 {
  height: 550px;
}
.product-thumb {
  border: none !important;
}
.banner-info {
  padding-top: 10%;
}
.blogs .owl-item.active {
  width: 33%;
}
.post-thumb.banner-advs.zoom-image.overlay-image a img {
  height: 120px !important;
}
.vc_row.wpb_row.block-product2 {
  background-color: #969390;
}
.post-thumb.overlay-image a img {
  height: 200px;
  width: 400px;
}
.row.services-index {
  height: 400px;
  margin: 10px;
}
.product-detail {
  padding-top: 50px;
}
.order {
  height: 460px;
}
.order-form {
  margin-left: 350px;
}
.detail-gallery img {
  width: 100%;
  height: 300px;
}
.custom-image{
  height: 100%;
  width: 100%;
}
div.round {
  border: 2px solid red;
  border-radius: 10px;
  height:400px;
  width: 500px;
  float: right;
}
div.text{
  float: left;
  width: 500px;
}
div.contact{
  margin-top: 45px;
}
p.paragraph{
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    -webkit-line-clamp: 10;
    height: 500px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.slider-content-text.white.text-center.text-uppercase.animated.bounceIn {
  height: 400px;
}
.hot-blog {
  padding-top: 100px;
}
